* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: #111111;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

:root {
  --fontSize: calc(12px + 0.698vw); /* The character count on */
  --lineHeight: calc(var(--fontSize) * 1.4);
  --letterSpacing: calc(var(--fontSize) * 0.0015);
  --fontWeight: 300;
}

img {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
